<div class="container">
    <div class="row">
        <pizza-pool pizzas="$ctrl.pool" 
            on-recipe-click="$ctrl.displayRecipe($event)">
        </pizza-pool>
        <pizza-making></pizza-making>
        <pizza-toppings toppings="$ctrl.allToppings" 
            on-toppingback="$ctrl.addTopping($event)">
        </pizza-toppings>
        <pizza-recipe recipe="$ctrl.recipe"></pizza-recipe>
    </div>

    <div class="row ">
        <pizza-actions score="$ctrl.score" 
            message="$ctrl.message"
            on-start="$ctrl.start()" 
            on-send="$ctrl.checkIfPizzaExist()" 
            on-delete="$ctrl.deletePizza()">
        </pizza-actions>
    </div>
</div>